<nav class="navbar navbar-expand-lg navbar-dark bg-dark heightNav mgbottom20">
  <a class="navbar-brand" href="#">
    <img src="./assets/images/navBrand1.png" alt="" class="wiHeight60">Tout Pour L'école
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link mgleft20" href="#"> Accueil<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Produits
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item mgleft20" href="#">Catégorie1</a>
          <a class="dropdown-item mgleft20" href="#">Catégorie2</a>
          <a class="dropdown-item mgleft20" href="#">Catégorie3</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link mgleft20">Categories Produits</a>
      </li>
    </ul>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link mgleft20">[Username]</a>
      </li>
    </ul>

  </div>
</nav>






