<form>
  <div class="col-md-12">
    <div class="form-group form-inline float-left">Faire une Recherche: <input class="form-control ml-2" type="text" /></div>


    <div class="">
      <div class="justify-content-lg-end float-right">
        <a routerLink="/produits/ajout" class="btn btn-sm btn-success add-infos text-white menu-font">
          <i class="fas fa-backward"></i> Ajouter Produit
        </a>
      </div>
    </div>

  </div>

</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th><!--numero d'ordre-->
    <th scope="col">PictureProduit</th>
    <th scope="col">Libelle</th>
    <th scope="col">Categorie</th>
    <th scope="col">PrixProduit</th>
    <th scope="col">QuantiteRestante</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let produit of listeProduits; let index = index">
    <th scope="row">{{index}}</th>
    <td><img src="" alt="picture1" class=""></td>
    <td>{{produit.libelle}}</td>
    <td>{{produit.categorie.libelle}}</td>
    <td>{{produit.prix}} FCFA</td>
    <td>{{produit.quantite}}</td>
    <td>
      <a class=" btn btn-secondary cursor-pointer mx-2"> Voir</a>

      <a class="btn btn-primary cursor-pointer mx-2">Modifier</a>

      <a class="cursor-pointer btn btn-danger mx-2">Supprimer</a>

    </td>
  </tr>
  </tbody>
</table>
