<form>
  <div class="col-md-12">
    <div class="form-group form-inline float-left">Faire une Recherche: <input class="form-control ml-2" type="text" /></div>
    <div class="float-right"> <button class="btn-success">Ajouter Produit</button> </div>
  </div>

</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th><!--numero d'ordre-->
    <th scope="col">PictureProduit</th>
    <th scope="col">Libelle</th>
    <th scope="col">Categorie</th>
    <th scope="col">PrixProduit</th>
    <th scope="col">QuantiteRestante</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td><img src="" alt="picture1" class=""></td>
    <td>Bloc Note de Luxe</td>
    <td>Categorie</td>
    <td>900 FCFA</td>
    <td>25</td>
    <td>
      <button>Read</button>
      <button class="mgleft20">Edit</button>
      <button class="mgleft20">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
